* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	font-family: "Poppins";
	background-color: black;

	img {
		display: block;
		height: 48px;
		margin-left: 5em;
	}

	.line {
		position: absolute;
		height: 56px;
		left: 14%;
		margin-left: 3em;
		width: 2px;
		background-color: white;
		// margin-right: 20em;
	}

	.grow-list {
		width: 40%;
		margin-right: 20em;
		.list {
			display: flex;
			justify-content: space-between;
			color: white;
			list-style: none;
		}
	}

	.button-small {
		background-color: #ba0cc5;
		height: 40px;
		width: 150px;
		margin-right: 40em;
		border-radius: 0.4em;
		margin-right: 80px;
		color: white;
		border: none;
	}
}

.hero {
	height: 90vh;
	background-image: url(./assets/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Montserrat";
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	h1 {
		margin: 6% 15% 0% 15%;
		text-align: center;
		font-size: 6rem;
		font-weight: 300;
	}

	p {
		font-size: 2rem;
		font-weight: 100;
		margin-bottom: 1em;
	}

	button {
		background-color: #ba0cc5;
		height: 70px;
		width: 350px;
		font-size: 1.8rem;
		font-weight: 600;
		border-radius: 0.4em;
		margin-right: 80px;
		color: white;
		margin-bottom: 8em;
		border: none;
	}
}
